body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffd700;
    z-index: -1;
    transition: background-color 0.5s ease;
}

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.slide {
    display: flex;
    transition: transform 0.5s ease;
}

.product {
    flex: 0 0 33.33%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    position: relative;
}

.product.active {
    opacity: 1;
}

.product img.left-image {
    position: absolute;
    bottom: -220px;
    left: -500px;
    opacity: 0;
}

.product img.right-image {
    position: absolute;
    bottom: -220px;
    right: -500px;
    opacity: 0;
    display: none;
    /* Masqué par défaut */
}

.product.active img.left-image {
    display: block;
    /* Visible seulement si le produit est actif */
    opacity: 1;
}

.product.active img.right-image {
    display: block;
    /* Visible seulement si le produit est actif */
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.info {
    margin-top: 20px;
}

#action-button {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.dots {
    margin-top: 100px;
}

.slider .dots {
    margin-top: 100px;
    color: #fff;
    width: 100%;

    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}